html {
	background-image: url("../images/road2redone.jpg");
}
/*------------------- NAVBAR STUFF-------------------------------------- */
.navbar {
	background: black;
	height: 10px;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	font-family: 'Oswald', sans-serif;

}
.navbar-brand>img {
	width: 50px;
	height: 50px;
	padding-bottom: 10px;
}

/*---------------------------JUMBOTRON STUFF---------------------------*/
body {
	background: none;
}
main {
	background: none;
}
.container {
	background: none;
}
.jumbotron {
	background: none;
	color: white;
	padding-top:100px;
	text-align: center;
}
.logo {
	text-align: center;
	background: none;
}
.col-lg-12 {
	align: left;
	background: none;
}
/*------------------------------HomePage---------------------------------*/
#homepage {
}

/*-------------------------------Contact
Form---------------------------*/