/* Navbar Stuff */
html {
	background-color: black;
}

/* home page stuff */
#homepage {
	background-image: url("../images/benchClose.jpg");
	background-size: cover;
	height: 50em;
	color: white;
	text-align: center;

}

.jumbotron {
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 15em;

}

#aboutMe {
	color: white;
	background: black;
	text-align: center;
}

.titlePage {
	text-align: center;
	color: white;
}

.portfolio {
	background: black;
}

.contactMe {
	background: teal;

}

.col-md-offset {
	float: right;

}

#carousel-example-generic {
	width: 100%;
}

.blankspace {
	padding-top: 5em;
	background-color: black;
}

/*.carousel {*/
	/*width: 100%*/
/*}*/

.aboutMeImage {
	align-content: right;
}

/*@media only screen and (max-width: 750px) {*/
	/*#carousel-example-generic {*/
		/*width: 90%;*/
		/*height: 100%;*/


	.carousel-control {
		max-width: 90%;
	}
